<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Symfony 5 Training{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    
    <body>
        <div class="container-sm p-0">
            <div class="mx-xl-5 border shadow">
                <div class="bg-dark text-white text-center p-1">
                    <h1><a href="" class="text-reset text-decoration-none">Symfony 5 Training</a></h1>
                </div>

                <div class="min-vh-100 pt-4 pb-2 px-xs-3 px-sm-2 px-md-2 px-lg-5">
                    {% block body %}{% endblock %}
                </div>

                <footer class="py-4 bg-dark text-white-50 text-center">
                    <small>Copyright &copy; Symfony 5 Training</small>
                </footer>
            </div>
        </div>
    </body>
</html>
